<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524110850602-pp0d3lnrnpu3hldkmrh90d5vrrk6l5au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524110850602-pp0d3lnrnpu3hldkmrh90d5vrrk6l5au</string>
	<key>API_KEY</key>
	<string>AIzaSyCg4REPoXJGwu0R9zfs3udBGhog82CiARE</string>
	<key>GCM_SENDER_ID</key>
	<string>524110850602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ntut.csie.swifttybird</string>
	<key>PROJECT_ID</key>
	<string>swiftty-bird</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftty-bird.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524110850602:ios:b2fd2cc7144b0824657153</string>
</dict>
</plist>