<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975835202983-lobselr1p3ccu38dqgg5edrsihiko9fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975835202983-lobselr1p3ccu38dqgg5edrsihiko9fe</string>
	<key>API_KEY</key>
	<string>AIzaSyBvqNj4EOtQ5ZYwtPUYFW4IB4qI0E7FJyU</string>
	<key>GCM_SENDER_ID</key>
	<string>975835202983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andylee.class0601</string>
	<key>PROJECT_ID</key>
	<string>lab10-cb183</string>
	<key>STORAGE_BUCKET</key>
	<string>lab10-cb183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975835202983:ios:2fd1d523a1286bfb3a6282</string>
</dict>
</plist>